<div class="margins">
  <form action="<%= new_photo_path %>">
    <button 
      class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">add</i>
    </button>
  </form>

  <div class="mdl-grid">
    <% @photos.each do |photo| %>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <%= render partial: "card", locals: { photo: photo } %>
      </div>
    <% end %>
  </div>

</div>