// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-card {
  width: 320px;
  // height: 300px;
  margin: 10px auto 10px auto;
}

.photo-img {
  background-color: #46B6AC;
  width: auto;
  height: 280px;
  margin: 0 auto;
  display: block;
}

.margins {
  margin: 0 auto;
  max-width: 1095px;
}